footer {
    margin-top: 150px;
    padding: 33px 0;
    height: 195px;
    background: rgba(255, 255, 255, 0.05);
    background-position: center top;
}

.content {
    max-width: 1222px;
    margin: 0 auto;
}

.footer_continer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 150px;
}

.footer_logo {
    margin-bottom: 40px;
    width: 169px;
    height: 33px;
    background: url('../../img/logo.png') no-repeat;
}

.adress p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.company_container {
    width: 290px;
}

.company_container h4 {
    margin-top: 10px;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav li {
    list-style-type: none;
    color: #FFFFFF;
    width: 75px;
    margin-top: 16px;
    margin-right: 70px;
}

.social_continer {
    width: 180px;
}

.social_continer h4 {
    margin-top: 10px;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    margin-top: 16px;
    color: #FFFFFF;
}

@media (max-width: 576px) {
    footer {
        margin-top: 150px;
        padding: 33px 0;
        height: 500px;
        background: rgba(255, 255, 255, 0.05);
        background-position: center top;
    }

    .footer_continer {
        padding-left: 30px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
    }

    .company_container h4 {
        margin-bottom: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer_continer {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        padding: 0 20px;
    }

}

@media (min-width: 1024px) {
    .footer_continer {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 120px;
        padding: 0 20px;
    }
}