#root {
  background: #0C102D;
  background-image: url('./img/Group\ 1261152736.png');
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
}



html {
  scroll-behavior: smooth;
}

.App {
  max-width: 1222px;
  margin: auto;
  height: 100%;
  position: relative;
}


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .App {
    max-width: 315px;
    margin: 0 auto;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {}